$cor00: #FCFBF6;
$cor01: #232224;
$cor02: #3B393C;
$cor03: #e76616;
$cor04: #00597e;

@font-face{
    font-family: Airbender;
    src: url(../../assets/fonts/AirBender.ttf);
    font-weight: 400;
}
@font-face{
    font-family: Herculanum;
    src: url(../../assets/fonts/HerculanumLTStd.ttf);
    font-weight: 400;
}
@font-face{
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
